<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <div class="fail">
      <h2>Se envío el pedido exitosamente! En breve nos comunicaremos por mail</h2>
      <button><a href="/login">Volver</a></button>
    </div>
  </body>
</html>